@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(0.9900 0.0068 67.7462);
  --foreground: oklch(0.2678 0.0153 18.1498);
  --card: oklch(1.0000 0 0);
  --card-foreground: oklch(0.2678 0.0153 18.1498);
  --popover: oklch(1.0000 0 0);
  --popover-foreground: oklch(0.2678 0.0153 18.1498);
  --primary: oklch(0.7049 0.1867 47.6044);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.9542 0.0372 75.1644);
  --secondary-foreground: oklch(0.4698 0.1430 37.3035);
  --muted: oklch(0.9699 0.0013 106.4238);
  --muted-foreground: oklch(0.5534 0.0116 58.0708);
  --accent: oklch(0.7686 0.1647 70.0804);
  --accent-foreground: oklch(1.0000 0 0);
  --destructive: oklch(0.6368 0.2078 25.3313);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.9232 0.0026 48.7171);
  --input: oklch(0.9232 0.0026 48.7171);
  --ring: oklch(0.7049 0.1867 47.6044);
  --chart-1: oklch(0.7049 0.1867 47.6044);
  --chart-2: oklch(0.7686 0.1647 70.0804);
  --chart-3: oklch(0.8369 0.1644 84.4286);
  --chart-4: oklch(0.7192 0.1690 13.4280);
  --chart-5: oklch(0.6461 0.1943 41.1158);
  --sidebar: oklch(0.9876 0.0085 67.7269);
  --sidebar-foreground: oklch(0.3741 0.0087 67.5582);
  --sidebar-primary: oklch(0.7049 0.1867 47.6044);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.9542 0.0372 75.1644);
  --sidebar-accent-foreground: oklch(0.7049 0.1867 47.6044);
  --sidebar-border: oklch(0.9616 0.0017 67.8022);
  --sidebar-ring: oklch(0.7049 0.1867 47.6044);
  --font-serif: Georgia, serif;
  --font-mono: JetBrains Mono, monospace;
  --radius: 0.75rem;
  --shadow-x: 0;
  --shadow-y: 8px;
  --shadow-blur: 20px;
  --shadow-spread: -4px;
  --shadow-opacity: 0.08;
  --shadow-color: #451a03;
  --shadow-2xs: 0 8px 20px -4px hsl(20.9091 91.6667% 14.1176% / 0.04);
  --shadow-xs: 0 8px 20px -4px hsl(20.9091 91.6667% 14.1176% / 0.04);
  --shadow-sm: 0 8px 20px -4px hsl(20.9091 91.6667% 14.1176% / 0.08), 0 1px 2px -5px hsl(20.9091 91.6667% 14.1176% / 0.08);
  --shadow: 0 8px 20px -4px hsl(20.9091 91.6667% 14.1176% / 0.08), 0 1px 2px -5px hsl(20.9091 91.6667% 14.1176% / 0.08);
  --shadow-md: 0 8px 20px -4px hsl(20.9091 91.6667% 14.1176% / 0.08), 0 2px 4px -5px hsl(20.9091 91.6667% 14.1176% / 0.08);
  --shadow-lg: 0 8px 20px -4px hsl(20.9091 91.6667% 14.1176% / 0.08), 0 4px 6px -5px hsl(20.9091 91.6667% 14.1176% / 0.08);
  --shadow-xl: 0 8px 20px -4px hsl(20.9091 91.6667% 14.1176% / 0.08), 0 8px 10px -5px hsl(20.9091 91.6667% 14.1176% / 0.08);
  --shadow-2xl: 0 8px 20px -4px hsl(20.9091 91.6667% 14.1176% / 0.20);
  --tracking-normal: -0.01em;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.2161 0.0061 56.0434);
  --foreground: oklch(0.9699 0.0013 106.4238);
  --card: oklch(0.2685 0.0063 34.2976);
  --card-foreground: oklch(0.9699 0.0013 106.4238);
  --popover: oklch(0.2161 0.0061 56.0434);
  --popover-foreground: oklch(0.9699 0.0013 106.4238);
  --primary: oklch(0.7576 0.1590 55.9344);
  --primary-foreground: oklch(0.1469 0.0041 49.2499);
  --secondary: oklch(0.3741 0.0087 67.5582);
  --secondary-foreground: oklch(0.9542 0.0372 75.1644);
  --muted: oklch(0.3741 0.0087 67.5582);
  --muted-foreground: oklch(0.7161 0.0091 56.2590);
  --accent: oklch(0.8369 0.1644 84.4286);
  --accent-foreground: oklch(0.1469 0.0041 49.2499);
  --destructive: oklch(0.4437 0.1613 26.8994);
  --destructive-foreground: oklch(0.9699 0.0013 106.4238);
  --border: oklch(0.3741 0.0087 67.5582);
  --input: oklch(0.3741 0.0087 67.5582);
  --ring: oklch(0.7576 0.1590 55.9344);
  --chart-1: oklch(0.7576 0.1590 55.9344);
  --chart-2: oklch(0.8369 0.1644 84.4286);
  --chart-3: oklch(0.7192 0.1690 13.4280);
  --chart-4: oklch(0.8366 0.1165 66.2896);
  --chart-5: oklch(0.7049 0.1867 47.6044);
  --sidebar: oklch(0.2161 0.0061 56.0434);
  --sidebar-foreground: oklch(0.8687 0.0043 56.3660);
  --sidebar-primary: oklch(0.7576 0.1590 55.9344);
  --sidebar-primary-foreground: oklch(0.1469 0.0041 49.2499);
  --sidebar-accent: oklch(0.2685 0.0063 34.2976);
  --sidebar-accent-foreground: oklch(0.7576 0.1590 55.9344);
  --sidebar-border: oklch(0.3741 0.0087 67.5582);
  --sidebar-ring: oklch(0.7576 0.1590 55.9344);
  --font-serif: Georgia, serif;
  --font-mono: JetBrains Mono, monospace;
  --radius: 0.75rem;
  --shadow-x: 0;
  --shadow-y: 15px;
  --shadow-blur: 30px;
  --shadow-spread: -8px;
  --shadow-opacity: 0.4;
  --shadow-color: #000000;
  --shadow-2xs: 0 15px 30px -8px hsl(0 0% 0% / 0.20);
  --shadow-xs: 0 15px 30px -8px hsl(0 0% 0% / 0.20);
  --shadow-sm: 0 15px 30px -8px hsl(0 0% 0% / 0.40), 0 1px 2px -9px hsl(0 0% 0% / 0.40);
  --shadow: 0 15px 30px -8px hsl(0 0% 0% / 0.40), 0 1px 2px -9px hsl(0 0% 0% / 0.40);
  --shadow-md: 0 15px 30px -8px hsl(0 0% 0% / 0.40), 0 2px 4px -9px hsl(0 0% 0% / 0.40);
  --shadow-lg: 0 15px 30px -8px hsl(0 0% 0% / 0.40), 0 4px 6px -9px hsl(0 0% 0% / 0.40);
  --shadow-xl: 0 15px 30px -8px hsl(0 0% 0% / 0.40), 0 8px 10px -9px hsl(0 0% 0% / 0.40);
  --shadow-2xl: 0 15px 30px -8px hsl(0 0% 0% / 1.00);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);

  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-normal: var(--tracking-normal);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  html[lang="jp"] {
    line-height: 1.75;
    word-break: break-all;
    --main-font: "Noto Sans JP", sans-serif !important;
  }
  :root {
    --main-font: "Inter", sans-serif;    
    font-size: clamp(0.875rem, 0.75rem + 0.6vw, 1.1rem);
  }
  body {
    @apply bg-background text-foreground;
    font-family: var(--main-font);
    letter-spacing: var(--tracking-normal);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1.6;
  }
}
